* {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20vmin;
    font-size: 3vmin;
}

.original-container {
    font-size: 3vmin;
    width: 5vmin;
}

button:hover,.original-container {
    color: #000000;
}

button {
    display: flex;
    flex-direction: left;
    background-color: white;
    color: red;
    border: none;
    font-size: 5vmin;
    font-weight: bold;
}

.copies {
    display: flex;
    flex-direction: column;
    font-size: 3vmin;
    font-weight: bold;

}


@media screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
    }
  }